/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.ss-suggestion-item:hover {
  background-color: var(--background-modifier-hover);
}

.ss-query-submit-button {
  margin-right: 1rem;
  align-self: center;
}

.ss-estimate-container {
  padding: 0.5em;
}

.ss-exists-text {
  padding: 0.5em;
  color: var(--color-red);
}
